<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Movie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>영화 수정</h3>
		
		<form id="movie" action="list.html" th:action="@{/movie/modify}" th:object="${movie}" method="POST" enctype="multipart/form-data">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" name="movieNo" th:field="*{movieNo}" />
			<input type="hidden" name="posterUrl" th:field="*{posterUrl}" />
			<input type="hidden" name="still1Url" th:field="*{still1Url}" />
			<input type="hidden" name="still2Url" th:field="*{still2Url}" />
			<input type="hidden" name="still3Url" th:field="*{still3Url}" />
			<input type="hidden" name="still4Url" th:field="*{still4Url}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<table>
				<tr>
					<td><input type="text" id="title" th:field="*{title}" th:placeholder="#{movie.title}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><input type="text" id="ratings" th:field="*{ratings}" th:placeholder="#{movie.ratings}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('ratings')}" th:errors="*{ratings}">ratings의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><input type="text" id="director" th:field="*{director}" th:placeholder="#{movie.director}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('director')}" th:errors="*{director}">director의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><input type="text" id="actors" th:field="*{actors}" th:placeholder="#{movie.actors}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('actors')}" th:errors="*{actors}">actors의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><input type="text" id="genre" th:field="*{genre}" th:placeholder="#{movie.genre}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">genre의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><input type="number" id="runningTime" th:field="*{runningTime}" th:placeholder="#{movie.runningTime}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('runningTime')}" th:errors="*{runningTime}">runningTime의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{movie.openningDays}">개봉일자</td>
					<td><input type="date" id="openningDays" name="openningDays" th:placeholder="#{movie.openningDays}" required="required" /></td>
				</tr>
				<tr>
					<td><input type="text" id="nation" th:field="*{nation}" th:placeholder="#{movie.nation}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('nation')}" th:errors="*{nation}">nation의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{movie.poster}">포스터</td>
					<td><img src="display1?movieNo=${movie.movieNo}" th:src="|display1?movieNo=${movie.movieNo}|" width="210" height="240"></td>
				</tr>
				<tr>
					<td th:text="#{movie.still1}">스틸컷1</td>
					<td><img src="display2?movieNo=${movie.movieNo}" th:src="|display2?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.still2}">스틸컷2</td>
					<td><img src="display3?movieNo=${movie.movieNo}" th:src="|display3?movieNo=${movie.movieNo}|" width="210" height="240"></td>
						
				</tr>
				<tr>
					<td th:text="#{movie.still3}">스틸컷3</td>
					<td><img src="display4?movieNo=${movie.movieNo}" th:src="|display4?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.still4}">스틸컷4</td>
					<td><img src="display5?movieNo=${movie.movieNo}" th:src="|display5?movieNo=${movie.movieNo}|" width="210" height="240"></td>
				</tr>
				<tr>
					<td th:text="#{movie.posterFile}">포스터 파일</td>
					<td><input type="file" id="poster" th:field="*{poster}" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.still1File}">스틸컷1 파일</td>
					<td><input type="file" id="still1" name="still1" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.still2File}">스틸컷2 파일</td>
					<td><input type="file" id="still2" name="still2" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.still3File}">스틸컷3 파일</td>
					<td><input type="file" id="still3" name="still3" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.still4File}">스틸컷4 파일</td>
					<td><input type="file" id="still4" name="still4" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.summary}">줄거리</td>
					<td><textarea id="summary" th:field="*{summary}" ></textarea></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}">summary의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{movie.enabled}">내용</td>
					<td><input type="checkbox" id="enabled" name="enabled" th:field="*{enabled}" th:value="true" /></td>
				</tr>
			</table>
			
		</form>
		
		<div th:with="pinfo=${#authentication.principal}">
		
			<button type="submit" id="btnModify" th:text="#{action.modify}">수정</button>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			
		</div>
		
		<script>
			$(document).ready(function() {
				
				var formObj = $("#movie");
								
				$("#btnModify").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
		</script>
		
	</div>
</body>
</html>