<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Movie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>영화 상세보기</h2>
		
		<form id="movie" action="list.html" th:object="${movie}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="movieNo" th:field="*{movieNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<table>
				<tr>
					<td th:text="#{movie.title}">영화 제목</td>
					<td><input type="text" id="title" th:field="*{title}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.ratings}">심의 등급</td>
					<td><input type="text" id="ratings" th:field="*{ratings}" readonly="readonly" ></td>
				</tr>
				<tr>
					<td th:text="#{movie.director}">감독</td>
					<td><input type="text" id="director" th:field="*{director}" readonly="readonly" ></td>
				</tr>
				<tr>
					<td th:text="#{movie.actors}">출연</td>
					<td><input type="text" id="actors" th:field="*{actors}" readonly="readonly" ></td>
				</tr>
				<tr>
					<td th:text="#{movie.genre}">장르</td>
					<td><input type="text" id="genre" th:field="*{genre}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.runningTime}">상영시간</td>
					<td><input type="number" id="runningTime" th:field="*{runningTime}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.openningDays}">개봉일자</td>
					<td><input type="date" id="openningDays" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.nation}">국가</td>
					<td><input type="text" id="nation" th:field="*{nation}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{movie.poster}">포스터</td>
					<td><img src="display1?movieNo=${movie.movieNo}" th:src="|display1?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.still1}">스틸컷1</td>
					<td><img src="display2?movieNo=${movie.movieNo}" th:src="|display2?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.still2}">스틸컷2</td>
					<td><img src="display3?movieNo=${movie.movieNo}" th:src="|display3?movieNo=${movie.movieNo}|" width="210" height="240"></td>
						
				</tr>
				<tr>
					<td th:text="#{movie.still3}">스틸컷3</td>
					<td><img src="display4?movieNo=${movie.movieNo}" th:src="|display4?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.still4}">스틸컷4</td>
					<td><img src="display5?movieNo=${movie.movieNo}" th:src="|display5?movieNo=${movie.movieNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{movie.summary}">내용</td>
					<td><textarea id="summary" th:field="*{summary}" readonly="readonly" ></textarea></td>
				</tr>
				
			</table>
			
		</form>
		
		<div>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<!-- 후기 -->
		<h3 align="center" th:text=#{review.list}>댓글</h3>
		
		<div align="center">

			<form id="review" th:action="@{/movie/reviewyregister}" th:object="${review}" method="POST">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
				<div align="center">
					<th:block sec:authorize="isAuthenticated()">
						<input type="hidden" id="review_movieNo" th:field="*{movieNo}">
						<label for="reviewContent" th:text="#{review.register}"></label>
						<input type="text" id="reviewContent" th:field="*{reviewContent}" />
						
						<button type="submit" id="reviewRegister" th:text="#{action.register}">등록</button>
					</th:block>
				</div>
				
			</form>
			
		</div>	
		
		<table>
			<tr th:if="${#lists.isEmpty(reviewList)}">
				<td colspan="5" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="review : ${reviewList}">
				<td align="center" th:text="${review.reviewNo}">${review.reviewNo}</td>
				<td align="center" th:text="${review.reviewWriter}">${review.reviewyWriter}</td>
				<td align="center" th:text="${review.reviewContent}">${review.reviewContent}</td>
				<td align="center" th:text="${#dates.format(review.regDate, 'yyyy-MM-dd HH:mm')}">${review.regDate}</td>
				<td>
					<div th:with="pinfo=${#authentication.principal}">
				
						<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="reviewremove.html" th:href="@{|/movie/reviewremove${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">	
								<button type="button" th:text="#{action.remove}">삭제</button>
							</a>
						</th:block>		
						
						<th:block sec:authorize="hasRole('ROLE_MEMBER')">
							<th:block th:if="${pinfo.username eq review.reviewWriter}">
								<a href="reviewmodify.html" th:href="@{|/movie/reviewmodify${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">
									<button type="button" th:text="#{action.modify}">편집</button>
								</a>
								<a href="reviewremove.html" th:href="@{|/movie/reviewremove${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">	
									<button type="button" th:text="#{action.remove}">삭제</button>
								</a>
							</th:block>	
						</th:block>		
										
					</div>
				</td>
			</tr>
		</table>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				$("#btnList").on("click", function() {
					self.location = "list[(${pgrq.toUriString()})]";
				});
				
				//댓글
				function getParam(sname) {
					var presentUrl = document.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					return sval;
				}
				
				
				document.getElementById('review_movieNo').value = getParam("movieNo");
				
				var formObj = $("#review");
				
				$("#reviewRegister").on("click", function() {
					formObj.attr("action", "/movie/reviewregister");
					formObj.submit();
				});
				
			});
			
		</script>
		
	</div>
</body>
</html>