<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Movie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<style>
	
	* {box-sizing: border-box;}
	
	body {font-family: Verdana, sans-serif;}
	
	.mySlides {display: none;}
	
	img {vertical-align: middle;}
	
	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}
	
	/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 1.5s;
	}
	
	@-webkit-keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}
	
	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}
</style>
<body>
	<div layout:fragment="content">
		<h3>영화 상세보기</h3>
		<br>
		<form id="movie" action="list.html" th:object="${movie}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="movieNo" th:field="*{movieNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<div class="movieposter" align="right">
				<img src="display1?movieNo=${movie.movieNo}" th:src="|display1?movieNo=${movie.movieNo}|" width="210" height="240"/>				
			</div>
			
			<div class="movieread">
				<table>
					<tr>
						<td th:text="#{movie.title}">영화 제목</td>
						<td><input type="text" id="title" th:field="*{title}" readonly="readonly" /></td>
					</tr>
					<tr>
						<td th:text="#{movie.ratings}">심의 등급</td>
						<td><input type="text" id="ratings" th:field="*{ratings}" readonly="readonly" ></td>
					</tr>
					<tr>
						<td th:text="#{movie.director}">감독</td>
						<td><input type="text" id="director" th:field="*{director}" readonly="readonly" ></td>
					</tr>
					<tr>
						<td th:text="#{movie.actors}">출연</td>
						<td><input type="text" id="actors" th:field="*{actors}" readonly="readonly" ></td>
					</tr>
					<tr>
						<td th:text="#{movie.genre}">장르</td>
						<td><input type="text" id="genre" th:field="*{genre}" readonly="readonly" /></td>
					</tr>
					<tr>
						<td th:text="#{movie.runningTime}">상영시간</td>
						<td><input type="number" id="runningTime" th:field="*{runningTime}" readonly="readonly" /></td>
					</tr>
					<tr>
						<td th:text="#{movie.openningDays}">개봉일자</td>
						<td><input type="date" id="openningDays" th:field="*{openningDays}" readonly="readonly" /></td>
					</tr>
					<tr>
						<td th:text="#{movie.nation}">국가</td>
						<td><input type="text" id="nation" th:field="*{nation}" readonly="readonly" /></td>
					</tr>					
				</table>
			</div>
			<br><br>
			<div>
				<span th:text="#{movie.summary}">내용</span>
			</div>
			<br>
			<div>
				<textarea class="summary" id="summary" name="summary" th:field="*{summary}" readonly="readonly" ></textarea>
			</div>
			<br>
			
			<!-- 스틸컷 -->
			<h4>영화 포토</h4>
			<div class="mySlides fade">
				<img src="display2movieNo=${movie.movieNo}" th:src="|display2?movieNo=${movie.movieNo}|" width="320" height="180">
			</div>
			
			<div class="mySlides fade">
				<img src="display3movieNo=${movie.movieNo}" th:src="|display3?movieNo=${movie.movieNo}|" width="320" height="180">
			</div>
			
			<div class="mySlides fade">
				<img src="display4movieNo=${movie.movieNo}" th:src="|display4?movieNo=${movie.movieNo}|" width="320" height="180">
			</div>
			
			<div class="mySlides fade">
				<img src="display5movieNo=${movie.movieNo}" th:src="|display5?movieNo=${movie.movieNo}|" width="320" height="180">
			</div>
			
		</form>
		
		<div>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<!-- 후기 -->
		<hr>
		<h3 align="center" th:text=#{review.list}>댓글</h3>
		
		<table>
			<tr th:if="${#lists.isEmpty(reviewList)}">
				<td colspan="5" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="review : ${reviewList}">
				<td align="center" th:text="${review.reviewWriter}">${review.reviewyWriter}</td>
				<td align="center" th:text="${review.scores}">${review.scores}</td>
				<td align="center" th:text="${review.reviewContent}">${review.reviewContent}</td>
				<td align="center" th:text="${#dates.format(review.regDate, 'yyyy-MM-dd HH:mm')}">${review.regDate}</td>
				<td>
					<div th:with="pinfo=${#authentication.principal}">
				
						<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="reviewremove.html" th:href="@{|/movie/reviewremove${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">	
								<button type="button" class="replybtn" th:text="#{action.remove}">삭제</button>
							</a>
						</th:block>		
						
						<th:block sec:authorize="hasRole('ROLE_MEMBER')">
							<th:block th:if="${pinfo.username eq review.reviewWriter}">
								<a href="reviewmodify.html" th:href="@{|/movie/reviewmodify${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">
									<button type="button" class="replybtn" th:text="#{action.modify}">편집</button>
								</a>
								<a href="reviewremove.html" th:href="@{|/movie/reviewremove${pgrq.toUriString(pgrq.page)}&movieNo=${movie.movieNo}&reviewNo=${review.reviewNo}|}">	
									<button type="button" class="replybtn" th:text="#{action.remove}">삭제</button>
								</a>
							</th:block>	
						</th:block>		
										
					</div>
				</td>
			</tr>
		</table>
		
		<div align="center">
			<!-- 후기 작성-->
			<form id="review" th:action="@{/movie/reviewregister}" th:object="${review}" method="POST">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
				<div align="center">
					<th:block sec:authorize="isAuthenticated()">
						<input type="hidden" id="review_movieNo" th:field="*{movieNo}">
						
						<input type="number" class="score" id="scores" min="0" max="5" step="0.5" th:field="*{scores}" />
						
						<input type="text" id="reviewContent" th:field="*{reviewContent}" />
						
						<button type="submit" id="reviewRegister" th:text="#{action.register}">등록</button>
					</th:block>
				</div>
				
			</form>
			
		</div>	
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				//스틸컷
				var slideIndex = 0;
				carousel();
				
				function carousel() {
				  var i;
				  var x = document.getElementsByClassName("mySlides");
				  for (i = 0; i < x.length; i++) {
				    x[i].style.display = "none";
				  }
				  slideIndex++;
				  if (slideIndex > x.length) {slideIndex = 1}
				  x[slideIndex-1].style.display = "block";
				  setTimeout(carousel, 4000); // Change image every 4 seconds
				}
				
				$("#btnList").on("click", function() {
					self.location = "list[(${pgrq.toUriString()})]";
				});
				
				//댓글
				function getParam(sname) {
					var presentUrl = document.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					return sval;
				}
				
				
				document.getElementById('review_movieNo').value = getParam("movieNo");
				
				var formObj = $("#review");
				
				$("#reviewRegister").on("click", function() {
					formObj.attr("action", "/movie/reviewregister");
					formObj.submit();
				});
				
				
			});
			
		</script>
		
	</div>
</body>
</html>