<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Review</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>후기 삭제</h2>
		
		<form id="review" action="list.html" th:action="@{/movie/reviewremove}" th:object="${review}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" name="movieNo" th:field="*{movieNo}" />
			<input type="hidden" name="reviewNo" th:field="*{reviewNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<div align="center">
				<label for="reviewContent" th:text="#{action.remove}"></label>
				<input type="text" id="reviewContent" th:field="*{reviewContent}" disabled="disabled" />
			</div>
			
			<div th:with="pinfo=${#authentication.principal}">
			
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<button type="submit" id="reviewRemove" th:text="#{action.remove}">삭제</button>
				</th:block>		
				
				<th:block sec:authorize="hasRole('ROLE_MEMBER')">
					<th:block th:if="${pinfo.username eq review.reviewWriter}">
						<button type="submit" id="reviewRemove" th:text="#{action.remove}">삭제</button>
					</th:block>	
				</th:block>		
						
			</div>
			
		</form>
		
	</div>
</body>
</html>