<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>ProvinceClass</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>도시</h3>
		
		<table class="list2">
			<tr>
				<th align="center" width="80" th:text="#{province.no}">번호</th>
				<th align="center" width="320" th:text="#{province.name}">이름</th>
			</tr>
			
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="2" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="provinceClass : ${list}">
				<td align="center"  th:text="${provinceClass.provinceNo}">${provinceClass.provinceNo}</td>
				<td align="center"><a href="read.html" th:href="@{|/province/read?provinceNo=${provinceClass.provinceNo}|}" th:text="${provinceClass.provinceName}">${provinceClass.provinceName}</a></td>
			</tr>
		</table>
		<br />
		
		<th:block sec:authorize="hasRole('ROLE_ADMIN')">
			<a href="register.html" th:href="@{/province/register}">
				<button type="button" th:text="#{province.new}">도시 등록</button>
			</a>
		</th:block>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				var result = "[[${msg}]]";
			
			
				if(result === "SUCCESS") {
					alert(/*[[#{common.processSuccess}]]*/);
				}
			/*]]>*/
		</script>
		
	</div>
</body>
</html>