<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>ProvinceClass</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>도시 변경</h2>
		
		<form id="provinceClass" action="list.html" th:action="@{/province/modify}" th:object="${provinceClass}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="provinceNo" th:field="*{provinceNo}" />
			
			<table>
				<tr>
					<td th:text="#{province.name}">도시</td>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('provinceName')}" th:errors="*{provinceName}">provinceName의 에러 메시지</span></td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnModify" th:text="#{action.modify}">편집</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>	
		</div>
		
		<script>
			$(document).ready(function() {
				var formObj = $("#provinceClass");
				
				console.log(formObj);
				
				$("#btnModify").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
		</script>
		
	</div>
</body>
</html>