<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.PointMapper">

	<insert id="create">
		INSERT INTO charge_point_history
			(
			user_id,
			amount
			)
		VALUES
			(
			#{userId},
			#{amount}
			)
	</insert>
	
	<update id="charge">
		UPDATE member
		   SET point = (point + #{amount}),
		   	upd_date = now()
		 WHERE user_id = #{userId}
	</update>	

	<select id="list" resultType="ChargePoint">
		<![CDATA[
			SELECT history_no,
				user_id,
				amount,
				reg_date
			  FROM charge_point_history
			 WHERE history_no > 0
			   AND user_id = #{userId}
			ORDER BY history_no DESC
		]]>
	</select>
	
	<insert id="createPayHistory">
		INSERT INTO pay_coin_history
			(
			user_id,
			movie_no,
			amount
			)
		VALUES
			(
			#{userId},
			#{movieNo},
			#{amount}
			)
	</insert>
	
	<update id="pay">
		UPDATE member
		   SET point = (point - #{amount}),
		   	upd_date = now()
		 WHERE user_id = #{userId}
	</update>
	
	<select id="listPayHistory" resultType="PayPoint">
		<![CDATA[
			SELECT a.history_no,
				a.user_id,
				a.movie_reserve_no,
				b.reserve_info,
				a.amount,
				a.reg_date
			  FROM pay_point_history a INNER JOIN movie_reservation b
			    ON a.movie_reserve_no = b.movie_reserve_no
			 WHERE a.history_no > 0
			   AND user_id = #{userId}
			ORDER BY a.history_no DESC
		]]>
	</select>
</mapper>