<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ProvinceMapper">

	<select id="getProvinceClassList" resultType="org.hdcd.common.domain.CodeLabelValue">
		SELECT province_no AS value,
			province_name AS label
		  FROM province_class
	</select>
	
	<select id="getProvinceList" resultType="org.hdcd.common.domain.CodeLabelValue">
		SELECT city AS value,
			city AS label
		  FROM province_detail
		 WHERE province_name = #{provinceName}
	</select>
	
	<select id="getcityList" resultType="org.hdcd.common.domain.CodeLabelValue">
		SELECT DISTINCT city AS value,
			city AS label
		  FROM movie_time
		 WHERE province_name = #{provinceName}
		   AND title = #{title}
	</select>
	
	<select id="getdayList" resultType="org.hdcd.common.domain.CodeLabelValue">
		SELECT DISTINCT show_date AS value,
			show_date AS label
		  FROM movie_time
		 WHERE city = #{city}
		   AND title = #{title}
	</select>
	
	<select id="gettimeList" resultType="org.hdcd.common.domain.CodeLabelValue">
		SELECT show_time AS value, 
			show_time AS label
		  FROM movie_time
		 WHERE (show_date = #{showDate} AND city = #{city})
		   AND title = #{title}
	</select>
	
</mapper>