<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ReservationMapper">

	<insert id="create">
		INSERT INTO movie_reservation
			(
			user_id,
			title,
			province_name,
			city,
			show_date,
			show_time,
			screen_name,
			seat_no,
			seat_id,
			price
			)
		VALUES
			(
			#{userId},
			#{title},
			#{provinceName},
			#{city},
			#{showDate},
			#{showTime},
			#{screenName},
			#{seatNo},
			#{seatId},
			#{price}
			)
	</insert>
	
	<select id="listAll" resultType="Reservation">
		<![CDATA[
			SELECT movie_reserve_no, 
				user_id,
				title,
				province_name,
				city,
				show_date,
				show_time,
				screen_name,
				seat_id,
				price
			  FROM movie_reservation
			 WHERE movie_reserve_no > 0
			ORDER BY movie_reserve_no DESC
		]]>
	</select>
	
	<select id="list" resultType="Reservation">
		<![CDATA[
			SELECT movie_reserve_no, 
				user_id,
				title,
				province_name,
				city,
				show_date,
				show_time,
				screen_name,
				seat_id,
				price
			  FROM movie_reservation
			 WHERE user_id = #{userId}
			ORDER BY movie_reserve_no DESC
		]]>
	</select>
	
	<select id="getSeatList" resultType="Seat">
		SELECT seat_no, seat_id, price
		  FROM movie_seat s INNER JOIN movie_time t
		    ON s.city = t.city AND s.screen_name = t.screen_name
		 WHERE (t.city = #{city} AND t.title = #{title})
		   AND (t.show_date = #{showDate} AND t.show_time = #{showTime});
	</select>
	
</mapper>