<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ScreenMapper">

	<insert id="create">
		INSERT INTO movie_screen 
			(
			province_name,
			city,
			screen_name,
			screen_col,
			screen_row
			)
		VALUES
			(
			#{provinceName},
			#{city},
			#{screenName},
			#{screenCol},
			#{screenRow}
			)
	</insert>
	
	<insert id="createSeat">
		INSERT INTO movie_seat 
			(
			city,
			screen_name,
			seat_id
			)
		VALUES
			(
			#{city},
			#{screenName},
			#{seatId}
			)
	</insert>

	<select id="read" resultType="Screen">
		SELECT province_name,
			city,
			screen_name,
			screen_col,
			screen_row
		  FROM movie_screen 
		 WHERE city = #{city}
		   AND screen_name = #{screenName}
	</select>

	<update id="update">
		UPDATE movie_screen
		SET screen_col = #{screenCol},
			screen_row = #{screenRow}
		 WHERE city = #{city}
		   AND screen_name = #{screenName}
	</update>
	
	<delete id="delete">
		DELETE FROM movie_screen
		 WHERE city = #{city}
		   AND screen_name = #{screenName}
	</delete>
	
	<select id="list" resultType="Screen">
		SELECT province_name,
			city,
			screen_name
		  FROM movie_screen 
		ORDER BY city ASC
	</select>
	
</mapper>