<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Board</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>회원 게시판 상세보기</h2>
		
		<form id="board" action="list.html" th:action="@{/board/remove}" th:object="${board}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="boardNo" th:field="*{boardNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<table>
				<tr>
					<td th:text="#{board.title}">제목</td>
					<td><input type="text" id="title" th:field="*{title}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{board.writer}">작성자</td>
					<td><input type="text" id="writer" th:field="*{writer}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{board.content}">내용</td>
					<td><textarea id="content" th:field="*{content}" readonly="readonly" ></textarea></td>
				</tr>
			</table>
			
		</form>
			
		<div th:with="pinfo=${#authentication.principal}">
		
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnEdit" th:text="#{action.edit}">편집</button>
				<button type="submit" id="btnRemove" th:text="#{action.remove}">삭제</button>
			</th:block>		
			
			<th:block sec:authorize="hasRole('ROLE_MEMBER')">
				<th:block th:if="${pinfo.username eq board.writer}">
					<button type="submit" id="btnEdit" th:text="#{action.edit}">편집</button>
					<button type="submit" id="btnRemove" th:text="#{action.remove}">삭제</button>
				</th:block>	
			</th:block>		
			
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			
		</div>
		
		<!-- 댓글 -->
		<h3 align="center" th:text=#{reply.list}>댓글</h3>
		
		<div align="center">

			<form id="reply" th:action="@{/board/replyregister}" th:object="${reply}" method="POST">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
				<div align="center">
					<th:block sec:authorize="isAuthenticated()">
						<input type="hidden" id="reply_boardNo" th:field="*{boardNo}">
						<label for="replyContent" th:text="#{reply.register}"></label>
						<input type="text" id="replyContent" th:field="*{replyContent}" />
						
						<button type="submit" id="replyRegister" th:text="#{action.register}">등록</button>
					</th:block>
				</div>
				
			</form>
			
		</div>	
		
		<table>
			<tr th:if="${#lists.isEmpty(replyList)}">
				<td colspan="5" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="reply : ${replyList}">
				<td align="center" class="replyNo" th:value="${reply.replyNo}" th:text="${reply.replyNo}">${reply.replyNo}</td>
				<td align="center" th:text="${reply.replyWriter}">${reply.replyWriter}</td>
				<td align="center" th:text="${reply.replyContent}">${reply.replyContent}</td>
				<td align="center" th:text="${#dates.format(reply.regDate, 'yyyy-MM-dd HH:mm')}">${reply.regDate}</td>
				<td>
					<div th:with="pinfo=${#authentication.principal}">
				
						<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="replymodify.html" th:href="@{|/board/replymodify${pgrq.toUriString(pgrq.page)}&boardNo=${board.boardNo}&replyNo=${reply.replyNo}|}">
								<button type="button" th:text="#{action.modify}">편집</button>
							</a>
							<a href="replyremove.html" th:href="@{|/board/replyremove${pgrq.toUriString(pgrq.page)}&boardNo=${board.boardNo}&replyNo=${reply.replyNo}|}">	
								<button type="button" th:text="#{action.remove}">삭제</button>
							</a>
						</th:block>		
						
						<th:block sec:authorize="hasRole('ROLE_MEMBER')">
							<th:block th:if="${pinfo.username eq reply.replyWriter}">
								<a href="replymodify.html" th:href="@{|/board/replymodify${pgrq.toUriString(pgrq.page)}&boardNo=${board.boardNo}&replyNo=${reply.replyNo}|}">
									<button type="button" th:text="#{action.modify}">편집</button>
								</a>
								<a href="replyremove.html" th:href="@{|/board/replyremove${pgrq.toUriString(pgrq.page)}&boardNo=${board.boardNo}&replyNo=${reply.replyNo}|}">	
									<button type="button" th:text="#{action.remove}">삭제</button>
								</a>
							</th:block>	
						</th:block>		
										
					</div>
				</td>
			</tr>
		</table>
		
		<script th:inline="javascript">
			$(document).ready(function() {
				
				var formObj = $("#board");
				var formObj2 = $("#reply");
				
				$("#btnEdit").on("click", function() {
					var boardNo = $("#boardNo");
					var boardNoVal = boardNo.val();
					
					self.location = "/board/modify[(${pgrq.toUriString()})]" + "&boardNo=" + boardNoVal;
				});
				
				$("#btnRemove").on("click", function() {
					formObj.attr("action", "/board/remove");
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "/board/list[(${pgrq.toUriString()})]";
				});
				
				//댓글
				function getParam(sname) {
					var presentUrl = document.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					return sval;
				}
				
				
				document.getElementById('reply_boardNo').value = getParam("boardNo");
				
				$("#replyRegister").on("click", function() {
					formObj2.attr("action", "/board/replyregister");
					formObj2.submit();
				});
				
			});
		</script>
		
	</div>
</body>
</html>