<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Reply</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>댓글 수정</h3>
		
		<form id="reply" action="list.html" th:action="@{/board/replymodify}" th:object="${reply}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" name="boardNo" th:field="*{boardNo}" />
			<input type="hidden" name="replyNo" th:field="*{replyNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<table>
				<tr>
					<td><input type="text" id="replyContent" th:field="*{replyContent}" placeholder="댓글 수정" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('replyContent')}" th:errors="*{replyContent}">replyContent의 에러 메시지</span></td>
				</tr>
			</table>
			
			<div th:with="pinfo=${#authentication.principal}">
			
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<button type="submit" id="replyModify" th:text="#{action.modify}">수정</button>
				</th:block>		
				
				<th:block sec:authorize="hasRole('ROLE_MEMBER')">
					<th:block th:if="${pinfo.username eq reply.replyWriter}">
						<button type="submit" id="replyModify" th:text="#{action.modify}">수정</button>
					</th:block>	
				</th:block>		
						
			</div>
			
		</form>
		
	</div>
</body>
</html>