<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Reservation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>영화 예매</h3>
		
		<form id="reservation" action="list.html" th:action="@{/reserve/reserve}" th:object="${reservation}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td>
						<select class="getMovie" th:field="*{title}">
							<option value="">영화</option>
							<option th:each="movieList : ${movieList}" th:value="${movieList.value}" th:text="${movieList.label}">movie</option>
						</select>
					</td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_MEMBER')">
				<button type="submit" id="btnRegister" th:text="#{action.register}" disabled="disabled">등록</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				var formObj = $("#reservation");
				
				$(".getMovie").change(function() {
					var query = {"title" : $("#title").val()};
					
					$.ajax({
						url : "/reserve/resProvince",
						json : "json",
						type : "post",
						data : query,
						success : function(data) {
							console.log($("#title").val());	
							self.location = "/reserve/resProvince" + "?title=" + $("#title").val();
						}
					});
					
				});
				
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>