<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Reservation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>영화 예매</h2>
		
		<form id="reservation" action="list.html" th:action="@{/reserve/reserve}" th:object="${reservation}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td><input type="text" id="title" th:field="*{title}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="text" id="city" th:field="*{city}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="date" id="showDate" th:field="*{showDate}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="time" id="showTime" name="showTime" readonly="readonly" /></td>
				</tr>
			</table>
			<br><br>
			<div class="test">
				<th:block class="block" th:each="seat : ${seatList}">
					
					<button type="button" class="seat" th:value="${seat.seatNo}" th:id="${seat.seatNo}" th:name="${seat.seatId}" th:text="${seat.seatId}"></button>	
					
					<span class="span" th:id="${seat.seatId}"></span>
				</th:block>
				
			</div>
			
			<div class="compare" style="display:none;">
				<th:block class="compareBlock" th:each="seat_num : ${seatNo}">
					<button type="button" class="seat2" th:value="${seat_num.seatNo}" ></button>	
				</th:block>
			</div>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_MEMBER')">
				<button type="submit" id="btnRegister" th:text="#{action.register}" >등록</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				function getParam(sname) {
					var presentUrl = window.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					sval = decodeURI(sval);
					
					return sval;
				}
				
				document.getElementById('title').value = getParam("title");
				document.getElementById('provinceName').value = getParam("provinceName");
				document.getElementById('city').value = getParam("city");
				document.getElementById('showDate').value = getParam("showDate");
				document.getElementById('showTime').value = getParam("showTime");
				
				//좌석 
				
				
				//줄 나누기
				var seat = document.getElementsByClassName("seat");
				var span = document.getElementsByClassName("span");
				
				for(var i = 0; i < seat.length; i++) {
					var s = span.item(i);
					
					var sname = s.getAttribute("id");
					
					if((i+1) == seat.length) {
						var s1 = span.item(0);
						var sname1 = "A0";
					}
					else {
						var s1 = span.item(i+1);
						var sname1 = s1.getAttribute("id");
					}
					
					var temp1 = sname[0].split("");
					var temp2 = sname1[0].split("");
					
					if(temp1.toString() != temp2.toString()) {
						document.getElementById(sname).innerText = "\r\n";
					}
					
				}
				
				//클릭
				let selectedSeats = new Array();
			    let selectedSeatsMap = [];
			    let clicked = "";
			    
				for(var i = 0; i < seat.length; i++) {
					
					seat[i].addEventListener('click', function(e) {
		                //중복방지 함수
		                selectedSeats = selectedSeats.filter((element, index) => selectedSeats.indexOf(element) != index);

		                //click class가 존재할때(제거해주는 toggle)
		                if (this.classList.contains("clicked")) {
		                	this.classList.remove("clicked");
		                    clicked = document.querySelectorAll(".clicked");
		                    selectedSeats.splice(selectedSeats.indexOf(e.target.value), 1);
		                    clicked.forEach((data) => {
		                        selectedSeats.push(data.value);
		                    });
		                    //click class가 존재하지 않을때 (추가해주는 toggle)
		                } else {
		                	this.classList.add("clicked");
		                    clicked = document.querySelectorAll(".clicked");
		                    clicked.forEach((data) => {
		                        selectedSeats.push(data.value);
		                    })
		                }
		                console.log(selectedSeats[0]);
					});
				}
				
				//중복
				
				var compareSeat = document.getElementsByClassName("seat2");
				console.log(compareSeat);
				
				for(var i = 0; i < seat.length; i++) {
					var s = seat.item(i);
					var c = compareSeat.item(i);
					if(c != null) {
						var sId = s.getAttribute("id");
						var cValue = c.getAttribute("value");
						
						if(sId.toString() == cValue.toString()) {
							document.getElementById(sId).disabled = "true";
						}
					}
					
				}
				
				
				$("#btnRegister").click(function() {
					var query = {"seatNo" : selectedSeats[0]};
					
					$.ajax({
						url : "/reserve/resPay",
						json : "json",
						type : "post",
						data : query,
						success : function(data) {
							console.log($("#city").val());	
							self.location = "/reserve/resPay" + "?title=" + $("#title").val() 
									+ "&provinceName=" + $("#provinceName").val() 
									+ "&city=" + $("#city").val()
									+ "&showDate=" + $("#showDate").val()
									+ "&showTime=" + $("#showTime").val()
									+ "&seatNo=" + selectedSeats[0];
						}
					});
					
				});
				
				var formObj = $("#reservation");
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>