<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Notice</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3 align="left">공지사항</h3>

		<table class="list">
			<tr>
				<th align="center" width="80" th:text="#{notice.no}">게시판 번호</th>
				<th align="center" width="320" th:text="#{notice.title}">제목</th>
				<th align="center" width="180" th:text="#{notice.regDate}">등록일자</th>
			</tr>
			
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="3" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="notice : ${list}">
				<td align="center"  th:text="${notice.noticeNo}">${notice.noticeNo}</td>
				<td align="left"><a href="read.html" th:href="@{|/notice/read${pgrq.toUriString(pgrq.page)}&amp;noticeNo=${notice.noticeNo}|}" th:text="${notice.title}">${notice.title}</a></td>
				<td align="center" th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</table>
		<br />
		
		<form id="pgrq" action="list.html" th:action="@{|/notice/list${pgrq.toUriStringByPage(1)}|}" th:object="${pgrq}" method="GET">
			<select class="searchType" th:field="*{searchType}">
				<option th:each="element : ${searchTypeCodeValueList}" th:value="${element.value}" th:text="${element.label}">제목</option>
			</select>
			
			<input class="search" type="text" name="keyword" th:field="*{keyword}" />
			<button id="searchBtn" th:tex="#{action.search}">검색</button>
		</form>
		
		<th:block align="right" sec:authorize="hasRole('ROLE_ADMIN')">
			<a href="register.html" th:href="@{/notice/register}">
				<button type="button" th:text="#{action.new}">글쓰기</button>
			</a>
		</th:block>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				var result = "[${msg}]";
			
			
				if(result === "SUCCESS") {
					alert(/*[#{common.processSuccess}]*/);
				}
			/*]]>*/
		</script>
		
	</div>
</body>
</html>