<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Board</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>회원 게시판 수정</h2>
		
		<form id="notice" action="list.html" th:action="@{/notice/modify}" th:object="${notice}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" name="noticeNo" th:field="*{noticeNo}" />
			<input type="hidden" name="page" th:value="${pgrq.page}" />
			<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}" />
			<input type="hidden" name="searchType" th:value="${pgrq.searchType}" />
			<input type="hidden" name="keyword" th:value="${pgrq.keyword}" />
			
			<table>
				<tr>
					<td th:text="#{notice.title}">제목</td>
					<td><input type="text" id="title" th:field="*{title}" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{notice.content}">내용</td>
					<td><textarea id="content" th:field="*{content}" ></textarea></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content의 에러 메시지</span></td>
				</tr>
			</table>
			
		</form>
		
		<div th:with="pinfo=${#authentication.principal}">
		
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnModify" th:text="#{action.modify}">수정</button>
			</th:block>		
			
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			
		</div>
		
		<script>
			$(document).ready(function() {
				var formObj = $("#notice");
				
				console.log(formObj);
				
				$("#btnModify").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list[(${pgrq.toUriString()})]";
				});
			
			});
		</script>
		
	</div>
</body>
</html>