<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Notice</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>공지사항 등록</h2>
		
		<form id="notice" action="list.html" th:action="@{/notice/register}" th:object="${notice}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td><input type="text" class="text" id="title" th:field="*{title}" th:placeholder="#{notice.title}" required="required" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title의 에러 메시지</span></td>
				</tr>
				<tr>
					<td><textarea id="content" th:field="*{content}" th:placeholder="#{notice.content}" required="required" ></textarea></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content의 에러 메시지</span></td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="isAuthenticated()">
				<button type="submit" id="btnRegister" th:text="#{action.register}">등록</button>
			</th:block>
			
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				var formObj = $("#notice");
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>