<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:fragment="menu">
		<table>
			<tr>
				<td align="left" width="520">
					<a href="/home.html" th:href="@{/}">
						<img src="../../static/images/logo.png" th:src="@{/images/logo.png}" width="70px" height="25px"/>
					</a>
				</td>
				
				<td class="center" align="center" width="20%"><a href="../movie/list.html" th:href="@{/movie/list}" th:text="#{menu.movie}">영화</a></td>
				
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<td class="center" align="center" width="20%"><a href="../reserve/listAll.html" th:href="@{/reserve/listAll}" th:text="#{menu.reservelist}">예매관리</a></td>			
				</th:block>
				
				<th:block sec:authorize="hasRole('ROLE_MEMBER')">
					<td class="center" align="center" width="20%"><a href="../reserve/reserve.html" th:href="@{/reserve/reserve}" th:text="#{menu.reserve}">예매</a></td>			
				</th:block>
				
				<td class="center" align="center" width="20%"><a href="../city/list.html" th:href="@{/city/list}" th:text="#{menu.theater}">극장</a></td>
				
				<td align="right" width="520">&nbsp;</td>
			</tr>
		</table>
		
	</div>
</body>
</html>