<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Time</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>시간 수정</h3>
		
		<form id="time" action="list.html" th:action="@{/time/modify}" th:object="${time}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="timeNo" th:field="*{timeNo}" />
			
			<table>
				<tr>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" th:placeholder="#{province.name}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="text" id="city" th:field="*{city}" th:placeholder="#{city.name}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="text" id="screenName" th:field="*{screenName}" th:placeholder="#{time.screen}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="text" id="title" th:field="*{title}" th:placeholder="#{time.movie}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td><input type="datetime-local" id="showTime" name="showTime" th:field="*{showTime}" th:placeholder="#{time.date}" /></td>
				</tr>
				
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnModify" th:text="#{action.modify}">편집</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>	
		</div>
		
		<script>
			$(document).ready(function() {
				var formObj = $("#time");
				
				console.log(formObj);
				
				$("#btnModify").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
		</script>
		
	</div>
</body>
</html>