<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Time</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>상영 시간 등록</h3>
		
		<form id="time" action="list.html" th:action="@{/time/register}" th:object="${time}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td>
						<select class="provinceget" th:field="*{provinceName}">
							<option value="">지역</option>
							<option th:each="province : ${provinceNameList}" th:value="${province.label}" th:text="${province.label}">province</option>
						</select>
					</td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnRegister" th:text="#{action.register}" disabled="disabled">등록</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				var formObj = $("#time");
				
				$(".provinceget").change(function() {
					var query = {"provinceName" : $("#provinceName").val()};
					
					$.ajax({
						url : "/time/regTheater",
						json : "json",
						type : "post",
						data : query,
						success : function(data) {
							console.log($("#provinceName").val());	
							self.location = "/time/regTheater" + "?provinceName=" + $("#provinceName").val();
						}
					});
					
				});
				
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>