<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Time</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>상영 시간 등록</h3>
		
		<form id="time" action="list.html" th:action="@{/time/register}" th:object="${time}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" readonly="readonly" /></td>
					
				</tr>
				<tr>
					<td>
						<select class="cityget" id="city" th:field="*{city}">
							<option value="">영화관</option>
							<option th:each="cityList : ${cityList}" th:value="${cityList.value}" th:text="${cityList.label}">theater</option>
						</select>
					</td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnRegister" th:text="#{action.register}" disabled="disabled" >등록</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				function getParam(sname) {
					var presentUrl = window.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					sval = decodeURI(sval);
					
					return sval;
				}
				
				document.getElementById('provinceName').value = getParam("provinceName");
				
				$(".cityget").change(function() {
					var query = {"city" : $("#city").val()};
					
					$.ajax({
						url : "/time/regTime",
						json : "json",
						type : "post",
						data : query,
						success : function(data) {
							console.log($("#city").val());	
							self.location = "/time/regTime" + "?provinceName=" + $("#provinceName").val() + "&city=" + $("#city").val();
						}
					});
					
				});
				
				var formObj = $("#time");
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>