<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Time</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>상영 시간 등록</h2>
		
		<form id="time" action="list.html" th:action="@{/time/register}" th:object="${time}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td th:text="#{province.name}">도시</td>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{city.name}">극장</td>
					<td><input type="text" id="city" th:field="*{city}" readonly="readonly" /></td>
					
				</tr>
				<tr>
					<td th:text="#{screen.name}">상영관 이름</td>
					<td>
						<select class="screenget" id="screenList" th:field="*{screenName}">
							<option value="">--선택--</option>
							<option th:each="screenList : ${screenList}" th:value="${screenList.value}" th:text="${screenList.label}">screen</option>
						</select>
					</td>
				</tr>
				<tr>
					<td th:text="#{movie.title}">영화</td>
					<td>
						<select id="movieList" th:field="*{title}">
							<option value="">--선택--</option>
							<option th:each="movieList : ${movieList}" th:value="${movieList.value}" th:text="${movieList.label}">movie</option>
						</select>
					</td>
				</tr>
				<tr>
					<td th:text="#{time.date}">상영일자</td>
					<td><input type="date" id="showDate" name="showDate" th:field="*{showDate}" /></td>
				</tr>
				<tr>
					<td th:text="#{time.time}">시간</td>
					<td><input type="time" id="showTime" name="showTime" th:field="*{showTime}" /></td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnRegister" th:text="#{action.register}">등록</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				function getParam(sname) {
					var presentUrl = window.location.href;
					
					var params = presentUrl.substr(presentUrl.indexOf("?") + 1);
					var sval = "";
					params = params.split("&");
					
					for (var i = 0; i < params.length; i++) {
						temp = params[i].split("=");
						if([temp[0]] == sname) {
							sval = temp[1];
						}
					}
					sval = decodeURI(sval);
					
					return sval;
				}
				
				document.getElementById('provinceName').value = getParam("provinceName");
				document.getElementById('city').value = getParam("city");
				
				var formObj = $("#time");
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>