<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>아이디 찾기</h3>
		
		<form id="checkPw" action="list.html" th:action="@{/email/id}" th:object="${member}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td>
						<input type="text" name="email" th:field="*{email}" placeholder="이메일" required="required" />
					</td>
					<td>
						<span class="error_message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email의 에러 메시지</span>
					</td>	
				</tr>
			</table>
			
			<button type="submit" id="btnSend">보내기</button>
		</form>
		
		
		
		
	</div>
</body>
</html>