<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>관리자 등록</h2>
		
		<form id="member" action="list.html" th:action="@{/user/setup}" th:object="${member}" method="POST">
			
			<div class="input_area">
				<label for="userId">아이디</label>
				<input type="text" id="userId" th:field="*{userId}" />
				<span class="error_message" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId의 에러 메시지</span>
			</div>
			
			<div class="input_area">
				<label for="userPw">비밀번호</label>
				<input type="password" id="userPw" th:field="*{userPw}" />
				<span class="error_message" th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}">userPw의 에러 메시지</span>
			</div>
			
			<div class="input_area">
				<label for="userPwconfirm">비밀번호 확인</label>
				<input type="password" id="userPwconfirm" onchange="checkPw()"  />&nbsp;
				<br>
				<span id="check"></span>
			</div>
			
			<div class="input_area">
				<label for="userName">이름</label>
				<input type="text" id="userName" th:field="*{userName}" />
				<span class="error_message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName의 에러 메시지</span>
			</div>
			
			<div class="input_area">
				<label for="email">이메일</label>
				<input type="email" id="email" th:field="*{email}" />
				<span class="error_message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email의 에러 메시지</span>
			</div>
			
			<div class="input_area">
				<label for="phone">전화번호</label>
				<input type="text" id="phone" th:field="*{phone}" />
				<span class="error_message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone의 에러 메시지</span>
			</div>
			
		</form>
		
		<div>
			<button type="submit" id="btnRegister">등록</button>
			
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnList">목록</button>
			</th:block>
		</div>
		
		<script th:inline="javascript">
		
			$(document).ready(function() {
				var formObj = $("#member");
				
				$("#btnRegister").on("click", function() {
					formObj.submit();
				});
				

				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
			function checkPw() {
				var pw1 = document.getElementById('userPw').value;
				var pw2 = document.getElementById('userPwconfirm').value;
				
				if(pw1 == pw2) {
					document.getElementById('check').innerHTML='비밀번호 일치';
					document.getElementById('check').style.color='blue';
					document.getElementById("submit").disabled = false
				}
				else {
					document.getElementById('check').innerHTML='비밀번호 불일치';
					document.getElementById('check').style.color='red';
					document.getElementById("submit").disabled = true
					document.getElementById("userPwconfirm").value = '';
					document.getElementById("userPwconfirm").focus();
				}
			}
		</script>
		
	</div>
</body>
</html>