<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>회원 상세보기</h3>
		
		<form id="member" action="list.html" th:action="@{/user/userread}" th:object="${member}" method="POST">
			
			<table>
				<tr>
					<td>
						<input type="text" name="userId" th:field="*{userId}" th:placeholder="#{user.userId}" readonly="readonly" />
					</td>
					<td>
						<span class="error_message" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId의 에러 메시지</span>
					</td>	
					
				</tr>
				<tr>
					<td>
						<input type="text" name="userName" th:field="*{userName}" th:placeholder="#{user.userName}" readonly="readonly" />
					</td>
					<td>
						<span class="error_message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName의 에러 메시지</span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="email" name="email" th:field="*{email}" th:placeholder="#{user.email}" readonly="readonly" />
					</td>	
					<td>
						<span class="error_message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email의 에러 메시지</span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="phone" th:field="*{phone}" th:placeholder="#{user.phone}" readonly="readonly" />
					</td>
					<td>	
						<span class="error_message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone의 에러 메시지</span>
					</td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<button type="submit" id="btnEdit">편집</button>
			<button type="submit" id="btnRemove">삭제</button>
			<button type="submit" id="btnHome">메인</button>
		</div>
		
		<script>
			$(document).ready(function() {
				var formObj = $("#member");
				
				console.log(formObj);
				
				$("#btnEdit").on("click", function() {
					var userId = $("#userId");
					var userIdVal = userId.val();
					
					self.location = "/user/usermodify?userId=" + userIdVal;
				});
				
				$("#btnRemove").on("click", function() {
					var userId = $("#userId");
					var userIdVal = userId.val();
					
					self.location = "/user/userremove";
				});
				
				$("#btnHome").on("click", function() {
					self.location = "/";
				});
			
			});
		</script>
		
	</div>
</body>
</html>