<html xmlns:th="http://www.thymeleaf/org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<!-- 표현식 -->
	<!-- 
	<table border="1" th:object="${member}">
		<tr>
			<td>*{userId}</td>
			<td th:text="*{userId}">userId</td>
		</tr>
		<tr>
			<td>*{password}</td>
			<td th:text="*{password}">password</td>
		</tr>
		<tr>
			<td>*{userName}</td>
			<td th:text="*{userName}">userName</td>
		</tr>
		<tr>
			<td>*{email}</td>
			<td th:text="*{email}">email</td>
		</tr>
		<tr>
			<td>*{dateOfBirth}</td>
			<td th:text="*{dateOfBirth}">dateOfBirth</td>
		</tr>
	</table>
	-->
	
	<!-- 속성 값 설정 -->
	<!-- 
	<h1>Home0301</h1>
	<img src="../static/images/player.png" th:src="@{/images/player.png}" />
	-->

	<!-- 제어 속성 -->
	<!-- 
	<th:block th:each="hobby : ${member.hobbyArray}">
		<p th:text="${hobby}">hobby</p>
	</th:block>
	-->
	
	<!-- 인라인 -->
	<!-- 
	<p th:text="|Hello, ${username}!|">greeting</p>
	<p>Hello, <span th:text="${username}">name</span>!</p>
	<p>Hello, [[${username}]]!</p>
	-->
	
	<!-- 유틸리티 객체 -->
	
	<table border="1">
		<tr>
			<td>${str}</td>
			<td th:text=${str}"></td>
		</tr>
		<tr>
			<td>${#strings.contains(str, 'Hello')}</td>
			<td th:text="${#strings.contains(str, 'Hello')}"></td>
		</tr>
		<tr>
			<td>${#strings.containsIgnoreCase(str, 'Hello')}</td>
			<td th:text="${#strings.containsIgnoreCase(str, 'Hello')}"></td>
		</tr>
		<tr>
			<td>${#strings.startsWith(str, 'Hello')}</td>
			<td th:text="${#strings.startsWith(str, 'Hello')}"></td>
		</tr>
		<tr>
			<td>${#strings.endsWith(str, 'World!')}</td>
			<td th:text="${#strings.endsWith(str, 'World!')}"></td>
		</tr>
		<tr>
			<td>${#strings.indexOf(str, 'World!')}</td>
			<td th:text="${#strings.indexOf(str, 'World!')}"></td>
		</tr>
		<tr>
			<td>${#strings.length(str)}</td>
			<td th:text="${#strings.length(str)}"></td>
		</tr>
		<tr>
			<td>${#strings.excapeXml(str)}</td>
			<td th:text="${#strings.excapeXml(str)}"></td>
		</tr>
		<tr>
			<td>${#strings.replace(str, 'Hello', 'Hi')}</td>
			<td th:text="${#strings.replace(str, 'Hello', 'Hi)}"></td>
		</tr>
		<tr>
			<td>${#strings.toLowerCase(str)}</td>
			<td th:text="${#strings.toLowerCase(str)}"></td>
		</tr>
		<tr>
			<td>${#strings.toUpperCase(str)}</td>
			<td th:text="${#strings.toUpperCase(str)}"></td>
		</tr>
		<tr>
			<td>${#strings.trim(str)}</td>
			<td th:text="${#strings.trim(str)}"></td>
		</tr>
		<tr>
			<td>${#strings.substring(str, 7, 12)}</td>
			<td th:text="${#strings.substring(str, 7, 12)}"></td>
		</tr>
		<tr>
			<td>${#strings.substringAfter(str, 'World!')}</td>
			<td th:text="${#strings.substringAfter(str, 'World!')}"></td>
		</tr>
		<tr>
			<td>${#strings.substringBefore(str, 'World!')}</td>
			<td th:text="${#strings.substringBefore(str, 'World!')}"></td>
		</tr>
		<tr>
			<td>tokenStr:${#strings.listSplit(str, '')}</td>
			<td>
				<ul>
					<li th:each="tokenStr:${#strings.listSplit(str, '')}">[[${tokenStr]]</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>tokenStr:${#strings.listSplit(str, '  ')}</td>
			<td>
				<ul>
					<li th:each="tokenStr:${#strings.listSplit(str, '  ')}">[[${tokenStr]]</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					strArray:${#strings.listSplit(str, '')}
				</div>
				<div>
					strArray:${#strings.arrayJoin(strArray, '-')}
				</div>
			</td>
			<td>
				<div th:with="strArray:${#strings.listSplit(str, '')}">
					<p th:text="${#strings.arrayJoin(strArray, '-')}">
						join : ${#strings.arrayJoin(strArray, '-')}
					</p>
				</div>
			</td>
		</tr>
	</table>
	
	
</body>
</html>