<!-- 타임리프가 사용된다는 것을 나타낸다. -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<!-- 
	<h1>
		Hello world!(Spring Boot)
	</h1>
	
	<p th:text="${serverTime}"> The time is on the server is ${serverTime}. </p>
	-->
	<!-- 타입리프 마크업에는 th 속성이라고 하는 th:로 시작하는 속성을 사용한다. -->
	<!-- 
	<h1 th:text="${msg}">greeting</h1>
	-->
	
	<!-- 10. 메시지 처리 -->
	<!-- 메시지 소스 정의 -->
	<!-- 
	<h1>
		Hello world!<br>
		<span th:text="#{welcome.message}"></span>
		<br />
		<span th:text="#{welcome.message('홍길동')}"></span>
	</h1>
	
	<p th:text="${serverTime}"> The time is on the server is ${serverTime}. </p>
	-->
	
	<!-- 17. 인터셉터 -->
	<!-- 
	<h1>Hello world!</h1>
	
	<P th:text="|The time on the server is ${serverTime}.|">The time on the server is ${serverTime}</P>
	
	<div th:text="${session.userInfo.userId}" th:unless="${session == null}">${userInfo.userId}</div>
	<div th:text="${session.userInfo.userName}" th:unless="${session == null}">${userInfo.userName}</div>
	-->
	
	<!-- 스프링 시큐리티 -->
	
	<h1> Hello world!</h1>
	
	<p th:text="${serverTime}">시간 표시</p>
	
	<div>
		<a href="/board/list">Board</a>
	</div>
	
	<div>
		<a href="/notice/list">Notice</a>
	</div>
	
	<!-- 로그인을 하지 않은 경우 true -->
	<div sec:authorize="isAnonymous()">
		<a href="/login">로그인</a>
	</div>
	
	<!-- 인증된 사용자인 경우 true -->
	<div sec:authorize="isAuthenticated()">
		<a href="/logout">로그아웃</a>
	</div>
	
	
</body>
</html>