<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Banner</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>홍보 배너 수정</h2>
		
		<form id="banner" action="list.html" th:action="@{/banner/modify}" th:object="${banner}" method="POST" enctype="multipart/form-data">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" name="bannerNo" th:field="*{bannerNo}" />
			<input type="hidden" name="bannerPictureUrl" th:field="*{bannerPictureUrl}" />
			
			<table>
				<tr>
					<td th:text="#{banner.movieNo}">영화 번호</td>
					<td><input type="text" id="movieNo" th:field="*{movieNo}" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('movieNo')}" th:errors="*{movieNo}">movieNo의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{banner.bannerName}">홍보 배너 이름</td>
					<td><input type="text" id="bannerName" th:field="*{bannerName}" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('bannerName')}" th:errors="*{bannerName}">bannerName의 에러 메시지</span></td>
				</tr>
				<tr>
					<td th:text="#{banner.bannerPicture}">배너 사진</td>
					<td><img src="display?bannerNo=${banner.bannerNo}" th:src="|display?bannerNo=${banner.bannerNo}|" width="210" height="240"></td>
					
				</tr>
				<tr>
					<td th:text="#{banner.bannerPictureFile}">포스터 파일</td>
					<td><input type="file" id="bannerPicture" /></td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<button type="submit" id="btnModify" th:text="#{action.modify}">수정</button>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<script>
			$(document).ready(function() {
				
				var formObj = $("#banner");
								
				$("#btnModify").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
		</script>
		
	</div>
</body>
</html>