<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Theater</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>극장</h3>
		
		<table class="list2">
			<tr>
				<th align="center" width="180" th:text="#{province.name}">도시</th>
				<th align="center" width="180" th:text="#{city.name}">상세 도시</th>
				
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<th align="center" width="80" th:text="#{action.read}">보기</th>
				</th:block>
			
			</tr>
			
			<tr th:if="${#lists.isEmpty(list)}">
				<th:block sec:authorize="!hasRole('ROLE_ADMIN')">
					<td colspan="2" th:text="#{common.listEmpty}">List is empty.</td>
				</th:block>
				
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<td colspan="3" th:text="#{common.listEmpty}">List is empty.</td>
				</th:block>
			</tr>
			
			<tr th:each="provinceDetail : ${list}">
				<td align="center" th:text="${provinceDetail.provinceName}">${provinceDetail.provinceName}</td>
				<td align="center" th:text="${provinceDetail.city}">${provinceDetail.city}></td>
				
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<td align="center"><a href="read.html" th:href="@{|/city/read?cityNo=${provinceDetail.cityNo}|}" th:text="#{action.read}">#{action.read}</a></td>
				</th:block>
			
			</tr>
		</table>
		<br />
		
		<th:block sec:authorize="hasRole('ROLE_ADMIN')">
			<a href="register.html" th:href="@{/city/register}">
				<button type="button" th:text="#{city.new}">도시 등록</button>
			</a>
		</th:block>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				var result = "[[${msg}]]";
			
			
				if(result === "SUCCESS") {
					alert(/*[[#{common.processSuccess}]]*/);
				}
			/*]]>*/
		</script>
		
	</div>
</body>
</html>