<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Seat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>좌석 목록</h2>
		
		<div class="squares">
			<th:block th:each="seat : ${list}">
				<div class="square">
					<a href="read.html" th:href="@{|/seat/read?seatNo=${seat.seatNo}|}" th:text="${seat.seatNo}">${seat.seatId}</a>
				</div>	
			</th:block>	
		</div>
		
		<br />
				
		<script th:inline="javascript">
			/*<![CDATA[*/
				var result = "[${msg}]";
			
			
				if(result === "SUCCESS") {
					alert(/*[[#{common.processSuccess}]]*/);
				}
			/*]]>*/
		</script>
		
	</div>
</body>
</html>