<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Adminpage</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>관리자 페이지</h2>
		
		<div th:with="pinfo=${#authentication.principal}">
		
			<th:block sec:authorize="!isAuthenticated()">
				<table>
					<tr>
						<td align="center"><a href="../auth/loginForm.html" th:href="@{/auth/login}" th:text="#{header.login}">로그인</a></td>
					</tr>
				</table>
			</th:block>
			
			<th:block sec:authorize="isAuthenticated()">
				<table>
					<tr>
						<td><span sec:authentication="principal.username"></span>님</td>
					</tr>
				</table>
				<br>
				<br>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<div align="left">
						<a href="../user/list.html" th:href="@{/user/list}" th:text="#{user.list}">회원 목록</a>
						<br><br>
						<a href="../board/list.html" th:href="@{/board/list}" th:text="#{board.list}">회원 게시판 목록</a>
						<br><br>
						<a href="../notice/list.html" th:href="@{/notice/list}" th:text="#{notice.list}">공지사항 목록</a>
						<br><br>
						<a href="../inquiry/list.html" th:href="@{/inquiry/list}" th:text="#{inquiry.list}">1:1 문의 목록</a>
						<br><br>
						<a href="../movie/list.html" th:href="@{/movie/list}" th:text="#{movie.list}">영화 목록</a>
						<br>
					</div>
				</th:block>
			</th:block>
		
		</div>
		
		
	</div>
</body>
</html>