<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Point</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>포인트 충전</h3>
		
		<form id="chargePoint" action="list.html" th:action="@{/point/charge}" th:object="${chargePoint}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<table>
				<tr>
					<td><input type="text" id="amount" th:field="*{amount}" th:placeholder="#{point.amount}" /></td>
					<td><span class="error_message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount의 에러 메시지</span></td>
				</tr>
			</table>
			
		</form>
		
		<div>
			<button type="submit" id="btnCharge" th:text="#{action.charge}">충전</button>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<script th:inline="javascript">
			
			$(document).ready(function() {
				
				var formObj = $("#chargePoint");
				
				$("#btnCharge").on("click", function() {
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "list";
				});
			
			});
			
		</script>
		
	</div>
</body>
</html>