<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Point</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h3>충전 내역</h3>
		
		<table class="list2">
			<tr>
				<th align="center" width="80" th:text="#{point.no}">게시판 번호</th>
				<th align="center" width="320" th:text="#{point.amount}">제목</th>
				<th align="center" width="180" th:text="#{point.regDate}">등록일자</th>
			</tr>
			
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="3" th:text="#{common.listEmpty}">List is empty.</td>
			</tr>
			
			<tr th:each="chargePoint : ${list}">
				<td align="center" th:text="${chargePoint.historyNo}">${chargePoint.historyNo}</td>
				<td align="center" th:text="${chargePoint.amount}">${chargePoint.amount}</td>
				<td align="center" th:text="${#dates.format(chargePoint.regDate, 'yyyy-MM-dd HH:mm')}">${chargePoint.regDate}</td>
			</tr>
		</table>
		
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				var result = "[[${msg}]]";
			
			
				if(result === "SUCCESS") {
					alert(/*[#{common.processSuccess}]*/);
				}
			/*]]>*/
		</script>
		
	</div>
</body>
</html>