<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">

<head>
	<title>Screen</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2>상영관 상세보기</h2>
		
		<form id="screen" action="list.html" th:action="@{/screen/remove}" th:object="${screen}" method="POST">
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="hidden" id="screenNo" th:field="*{screenNo}" />
			
			<table>
				<tr>
					<td th:text="#{province.name}">도시</td>
					<td><input type="text" id="provinceName" th:field="*{provinceName}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{city.name}">극장</td>
					<td><input type="text" id="city" th:field="*{city}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{screen.name}">상영관 이름</td>
					<td><input type="text" id="screenName" th:field="*{screenName}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{screen.col}">상영관 행</td>
					<td><input type="number" id="screenCol" th:field="*{screenCol}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td th:text="#{screen.row}">상영관 열</td>
					<td><input type="number" id="screenRow" th:field="*{screenRow}" readonly="readonly" /></td>
				</tr>
			</table>
			
			<div>
				<a href="list.html" th:href="@{|/seat/list?screenName=${screen.screenName}|}">
					<canvas id="canvas1" width="150" height="150"></canvas>
				</a>
			</div>
			
		</form>
		
		<div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<button type="submit" id="btnEdit" th:text="#{action.edit}">편집</button>
				<button type="submit" id="btnRemove" th:text="#{action.remove}">삭제</button>
				<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
			</th:block>	
		</div>
		<br>
		
		<script>
			$(document).ready(function() {
				
				//좌석
				window.onload = draw;
				function draw() {
					var canvas = document.getElementById("canvas1");
				 	var ctx = canvas.getContext("2d");
				 	var col, row;
				 	var maxCol = $("#screenCol").val();
				 	var maxRow = $("#screenRow").val();
				 	var x = 10;
					var y = 10;
					
					for (row = 0; row < maxRow; row++) {
						for (col = 0; col < maxCol; col++) {
							
							ctx.fillStyle = "grey";
							ctx.fillRect (x, y, 15, 15);
							x = x + 20;
						}
						y = y + 20;
						x = 10
					}
				}
				
				var formObj = $("#screen");
				
				$("#btnEdit").on("click", function() {
					var screenNo = $("#screenNo");
					var screenNoVal = screenNo.val();
					
					self.location = "/screen/modify" + "?screenNo=" + screenNoVal;
				});
				
				$("#btnRemove").on("click", function() {
					formObj.attr("action", "/screen/remove");
					formObj.submit();
				});
				
				$("#btnList").on("click", function() {
					self.location = "/screen/list";
				});
				
			});
		</script>
		
	</div>
</body>
</html>